<!DOCTYPE html>
<html>
  <head>
    <title>Your Dashboard!</title>
    <link rel='stylesheet' href='/stylesheets/normalize.css' >
    <link rel='stylesheet' href='/stylesheets/dashboard.css' >
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
  </head>
  <body>
    <!-- NAVBAR HERE -->
    <nav class="navbar">
      <h2>Welcome to your dashboard <%= theVendorFound.name %> :)</h2>
      <div>
        Cuisines: <a class="tag-button"><%= theVendorFound.cuisine %></a>
      </div>
    </nav>
    <!-- FLEXBOX LAYOUT -->
    <div class="wrapper">
      <div class="main-flex-parent">
        <div class="about main-flex-child">
          <div class="info-box">
            <p class="bio"> <%= theVendorFound.about %>  <p>
          </div>
            <a class="new-button" href="addbio">Edit</a>
            <br>
        </div>
        <div class="orders main-flex-child"> 
          <h2><%= orderPrompt %></h2>
          <ul>
            <% theOrdersFound.forEach((element) => { %>
            <li><%= element._orderedBy %></li>
            <% }); %>
          </ul>

        </div>
        <div class="menu main-flex-child">
          <h3 class="black-text">On your menu today:</h3>
          
          <div>
            <a class="new-button" href="newdish">New Dish</a>
          </div>
<% if(check) { %>
<h2><%= theVendorFound.dish.dishName %></h2>
<% } %>

<% if(!check) { %>
<h2><%= menuPrompt %></h2>
<% } %>

        </div> 
      </div>
    </div>


  </body>
</html>
